<footer class="footer">
    <div class="container container--content">
        <div class="footer__wrapper">
            <div class="footer__grid">
                <a class="footer__logo" href="/">
                    <svg>
                        <use xlink:href="#ic_logo_header"></use>
                    </svg>
                </a>
                <div class="footer__contacts">
                    <a class="footer__tel" href="tel:+74957691551">
                        +7 (495) 769-15-51
                    </a>
                    <a class="footer__address" href="#">
                        Комсомольский пр-т д42с1
                    </a>
                </div>
                <ul class="footer__navs footer__navs--main">
                    <li class="footer__nav">
                        <a href="/">
                            Главная
                        </a>
                    </li>
                    <li class="footer__nav">
                        <a href="/">
                            Контакты
                        </a>
                    </li>
                    <li class="footer__nav">
                        <a href="/">
                            Политика
                            конфиденциальности
                        </a>
                    </li>
                </ul>
                <ul class="footer__navs footer__navs--catalog">
                    <li class="footer__nav">
                        <a href="/">
                            Каталог
                        </a>
                    </li>
                    <li class="footer__nav">
                        <a href="/">
                            Швейцарские часы
                        </a>
                    </li>
                    <li class="footer__nav">
                        <a href="/">
                            Ювелирные украшения
                        </a>
                    </li>
                    <li class="footer__nav">
                        <a href="/">
                            Сумки
                        </a>
                    </li>
                    <li class="footer__nav">
                        <a href="/">
                            Бриллианты
                            и драгоценные камни
                        </a>
                    </li>
                    <li class="footer__nav">
                        <a href="/">
                            Антиквариат
                        </a>
                    </li>
                </ul>
                <ul class="footer__navs">
                    <li class="footer__nav">
                        <a href="/">
                            Продать
                        </a>
                    </li>
                    <li class="footer__nav">
                        <a href="/">
                            Швейцарские часы
                        </a>
                    </li>
                    <li class="footer__nav">
                        <a href="/">
                            Ювелирные украшения
                        </a>
                    </li>
                    <li class="footer__nav">
                        <a href="/">
                            Сумки
                        </a>
                    </li>
                    <li class="footer__nav">
                        <a href="/">
                            Бриллианты
                            и драгоценные камни
                        </a>
                    </li>
                    <li class="footer__nav">
                        <a href="/">
                            Антиквариат
                        </a>
                    </li>
                </ul>
                <ul class="footer__navs">
                    <li class="footer__nav">
                        <a href="/">
                            Услуги
                        </a>
                    </li>
                    <li class="footer__nav">
                        <a href="/">
                            Экспертиза
                            ювелирных украшений
                            и бриллиантов
                        </a>
                    </li>
                    <li class="footer__nav">
                        <a href="/">
                            Аутентификация сумок
                        </a>
                    </li>
                    <li class="footer__nav">
                        <a href="/">
                            Часовая мастерская
                        </a>
                    </li>
                    <li class="footer__nav">
                        <a href="/">
                            Выездная оценка
                        </a>
                    </li>
                </ul>
            </div>
            <p class="footer__copyright">
                &copy;&nbsp;ООО &laquo;ВЕРБ&raquo; 1997-2019&nbsp;ул. Шоссе Очаковское д. 3-А стр.&nbsp;4
            </p>
        </div>
    </div>
</footer>
</div>
<!-- //page-wrapper -->
<script src="js/_plugins-all.min.js"></script>
<script src="js/scripts.js"></script>
</body>
</html>
