:root {
  --header-text-color: #fff;
}

body {
  min-width: 320px;
  background-color: $white;
  font-family: $sans;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: normal;
  overflow-x: hidden;
  color: $main-text-color;
}

html {
  scroll-behavior: smooth; // Look ma no JS!

  &.fixed {
    overflow: hidden;
  }
}

html,
body {
  @supports (-webkit-overflow-scrolling: touch) {
    cursor: pointer;
  }
}

button,
a {
  cursor: pointer;
  outline: none;
}

h1,.h1 {

}

h2, .h2 {

}

h3, .h3 {

}

h4, .h4 {

}

h5, .h5 {

}

ul:not([class]), ol:not([class]) {

}

p:not([class]) {

}

.btn {
  position: relative;
  min-width: 200px;
  padding: 8px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 1px solid $white;
  border-radius: 24px;
  font-size: 14px;
  line-height: 16px;
  font-style: normal;
  letter-spacing: normal;
  color: $white;
  transition: opacity 0.3s ease-in-out;

  &--black {
    color: $black;
    border-color: $black;
  }

  &--small {
    min-width: 160px;
    height: 34px;
    font-size: 12px;
  }

  &:hover {
    opacity: 0.7;
  }

  &--tel {
    svg {
      position: absolute;
      top: 50%;
      left: 21px;
      width: 21px;
      height: 22px;
      fill: $white;
      transform: translateY(-50%);
    }
  }

  &--way {
    img {
      position: absolute;
      top: 50%;
      left: 12px;
      width: 19px;
      height: 19px;
      transform: translateY(-50%);
    }
  }

  &--whatsapp {
    img {
      margin: 0 8px 0 0;
      width: 18px;
      height: 18px;
    }
  }
}