.page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;

    &.header-fixed {
      .all {
        padding-top: 75px;

        @media (max-width: $mobile-max) {
          padding-top: 70px;
        }
      }
    }

}

.all {
  position: relative;
  margin-top: -75px;
  flex-grow: 1;
  overflow: hidden;

  @media (max-width: $mobile-max) {
    margin-top: -70px;
  }
}

.container {
  width: 1250px;
  padding: 0 40px;
  margin: 0 auto;

  @media (max-width: $tablet-max) {
    width: 100%;
    padding: 0 16px;
  }

  @media (max-width: $mobile-max) {
    padding: 0 16px;
  }

  &--content {
    @media (max-width: $tablet-max) and (min-width: $tablet-min) {
      width: 670px;
      padding: 0 16px;
    }
  }
}