.custom-popup {
  width: 470px;
  border-radius: 0;

  @media (max-width: $tablet-max) {
    width: 290px;
  }

  .custom-popup__wrapper {
    margin: 0;
    padding: 32px 19px 52px;
    font-size: 13px;
    line-height: 14px;
    color: $main-text-color;
    overflow: visible;
  }

  &__close {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 24px;
    height: 24px;
    margin: 0;
    color: $black;
    outline: none;
  }

}