.product-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 271px;
  height: 509px;
  padding: 40px 16px 32px;
  box-shadow: 3px 5px 16px rgba(228, 228, 228, 0.75);
  background-color: #f8f8f8;
  text-align: center;
  border-radius: 16px;

  @media (max-width: $tablet-max) {
    width: 136px;
    height: 290px;
    padding: 20px 10px 16px;
  }

  &::before {
    content: '';
    position: absolute;
    top: 269px;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #dcdcdc;

    @media (max-width: $tablet-max) {
      top: 137px;
    }
  }

  &__badge {
    max-width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px 24px;
    border-radius: 0 12px 0 12px;
    background-color: #f1462a;

    @media (max-width: $tablet-max) {
      padding: 6px 12px;
      border-radius: 0 8px 0 8px;
    }

      &-text {
        font-size: 16px;
        line-height: 18px;
        color: #f3f3f3;

        @media (max-width: $tablet-max) {
          font-size: 10px;
          line-height: 1;
        }
      }
  }

  &__picture {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;

    @media (max-width: $tablet-max) {
      width: 101px;
      height: 101px;
    }

    img {
      width: auto;
      height: auto;
      max-height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  &__title {
    max-width: 150px;
    min-height: 36px;
    margin: 56px 0 0;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;

    @media (max-width: $tablet-max) {
      min-height: 24px;
      margin: 26px 0 0;
      font-size: 10px;
      line-height: 12px;
    }
  }

  &__desc {
    max-width: 160px;
    margin: 16px 0 0;
    font-size: 12px;
    line-height: 16px;
    color: #909090;
    min-height: 32px;

    @media (max-width: $tablet-max) {
      margin: 10px 0 0;
      font-size: 10px;
      line-height: 12px;
      min-height: 24px;
    }
  }

  &__price {
    margin: 24px 0 0;
    font-size: 21px;
    line-height: 18px;
    font-weight: 700;

    @media (max-width: $tablet-max) {
      margin: 8px 0 0;
      font-size: 12px;
      line-height: 14px;
    }
  }

  &__link {
    height: 34px;
    flex-shrink: 0;
    min-width: 160px;
    margin: 24px 0 0;
    font-size: 12px;

    @media (max-width: $tablet-max) {
      height: 25px;
      min-width: 116px;
      padding: 2px;
      margin: auto 0 0;
      font-size: 10px;
      line-height: 12px;
    }
  }

  &__price-inner {
    display: flex;
    align-items: flex-end;
    justify-content: center;

    @media (max-width: $tablet-max) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-height: 40px;
    }

    &.has-old {
      .product-item__price {
        margin-left: 15px;

        @media (max-width: $tablet-max) {
          margin-left: 0;
        }
      }
    }
  }

  &__price-old {
    position: relative;
    margin-right: 15px;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: #a8a8a8;

    @media (max-width: $tablet-max) {
      margin: 6px 0 0 0;
      font-size: 12px;
      line-height: 1;
      order: 1;
    }

    &::before {
      content: '';
      height: 1px;
      width: calc(100% + 14px);
      position: absolute;
      top: 50%;
      left: -7px;
      transform: translateY(-50%);
      background: #232323;

      @media (max-width: $tablet-max) {
        width: calc(100% + 10px);
        left: -5px;
      }
    }
  }
}