.start-home {
  height: 540px;
  color: $white;
  background-color: #0a2a1b;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;

  @media (max-width: $mobile-max) {
    background-color: #00251e;
  }

  &__bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__wrapper {
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding: 130px 0 24px 0;
    z-index: 5;

    @media (max-width: $tablet-max) {
      justify-content: center;
      padding: 130px 0 24px;
    }
  }

  &__inner {
    max-width: 560px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: $tablet-max) {
      max-width: 480px;
    }
  }

  &__title {
    font-size: 60px;
    line-height: 68px;
    font-weight: 400;
    text-align: center;

    @media (max-width: $tablet-max) {
      font-size: 40px;
      line-height: 45px;
    }

    @media (max-width: $mobile-max) {
      font-size: 30px;
      line-height: 34px;
    }
  }

  &__desc {
    margin: 16px 0 20px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    @media (max-width: $mobile-max) {
      margin: 12px 0 40px;
      font-size: 18px;
    }
  }

  &__button {
    position: relative;

    &:not(:first-child) {
      margin: 16px 0 0;
    }

    &--tel {
      svg {
        position: absolute;
        top: 50%;
        left: 21px;
        width: 21px;
        height: 22px;
        fill: $white;
        transform: translateY(-50%);
      }
    }

    &--way {
      img {
        position: absolute;
        top: 50%;
        left: 12px;
        width: 19px;
        height: 19px;
        transform: translateY(-50%);
      }
    }

    &--whatsapp {
      img {
        margin: 0 8px 0 0;
        width: 18px;
        height: 18px;
      }
    }
  }

  &--redemption-watches {

    .start-home__desc {
      margin-bottom: 12px;
    }
    .start-home__wrapper {
      padding-right: 0;
    }
    .start-home__inner {
      max-width: 530px;
    }
  }

  &--redemption-jewelry {

    .start-home__wrapper {
      padding-right: 0;
    }

    .start-home__inner {
      max-width: 630px;
    }

    .start-home__title {
      text-align: center;

      br {
        @media (max-width: $tablet-max) {
          display: none;
        }
      }
    }

    .start-home__buttons-row {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-wrap: wrap;
      padding-top: 48px;
      margin: -10px -13px;

      @media (max-width: $tablet-max) {
        display: block;
        margin: 0;
      }

      @media (max-width: $mobile-max) {
        padding: 0;
      }
    }

    .start-home__button {
      margin: 10px 13px;

      @media (max-width: $tablet-max) {
        margin: 0;
      }

      &:not(:first-child) {
        @media (max-width: $tablet-max) {
          margin: 20px 0 0;
        }
      }
    }

    .start-home__desc {
      @media (max-width: $mobile-max) {
        margin-top: 24px;
      }
    }
  }


  &--antiques {
    .start-home__title br {
      display: none;

      @media (min-width: $desktop-sm-min) {
        display: block;
      }
    }
  }

  &--redemption-handbags {
    background-color: #1f1f1f;

    .start-home__wrapper {
      padding-right: 0;
    }

    .start-home__inner {
      max-width: 630px;
    }

    .start-home__title {
      text-align: center;

      br {
        @media (max-width: $tablet-max) {
          display: none;
        }
      }
    }

    .start-home__buttons-row {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-wrap: wrap;
      padding-top: 48px;
      margin: -10px -13px;

      @media (max-width: $tablet-max) {
        display: block;
        margin: 0;
      }

      @media (max-width: $mobile-max) {
        padding: 0;
      }
    }

    .start-home__button {
      margin: 10px 13px;

      @media (max-width: $tablet-max) {
        margin: 0;
      }

      &:not(:first-child) {
        @media (max-width: $tablet-max) {
          margin: 20px 0 0;
        }
      }
    }
  }

  &--vancleef-brand {
    @media (min-width: $desktop-sm-min) {
      color: $main-text-color;
    }

    .start-home__wrapper {
      @media (min-width: $desktop-sm-min) {
        padding-top: 80px;
      }
    }

    .start-home__button {
      @media (min-width: $desktop-sm-min) {
        border-color: $main-text-color;
        color: $main-text-color;
      }

      img {
        &.only-desktop {
          @media (max-width: $tablet-max) {
            display: none;
          }
        }

        &.only-tablet {
          @media (min-width: $desktop-sm-min) {
            display: none;
          }
        }
      }

      &--tel {
        svg {
          @media (min-width: $desktop-sm-min) {
            fill: $main-text-color;
          }
        }
      }
    }
  }

  &--choose-ring {
    .start-home__wrapper {
      @media (min-width: $desktop-sm-min) {
        padding-top: 112px;
      }
    }

    .start-home__buttons-row {
      margin: 24px 0 0;

      @media (max-width: $mobile-max) {
        margin: 48px 0 0;
      }
    }

    .start-home__title {
      @media (max-width: $tablet-max) {
        max-width: 400px;
      }
    }
  }

}